# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.sh

asset/
wandb/
models/
output/
__pychache__/
*.pyc
weight/
*.log
*.ipynb
.ipynb_checkpoints/
.vscode/
*.csv
*.ckpt
*.out
*.output
catboost_info/
.empty/
data/
*.pdf
*.png